@page "/"

    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <h1>Dennis von Bargen</h1>
                <h2>Full Stack Developer</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu sapien quis lorem semper luctus. Maecenas facilisis ullamcorper nunc convallis auctor. Nulla facilisi. Praesent lobortis tellus in urna suscipit, sit amet sollicitudin sem hendrerit. Donec ac vestibulum sem, non feugiat eros. Phasellus nunc magna, malesuada eget velit id, ultricies finibus ipsum. Cras molestie dictum orci quis pellentesque. Nam porta dolor tortor, posuere blandit metus congue sed. Morbi vel nulla quis nibh rutrum viverra. Morbi eget laoreet odio. Sed justo sapien, lobortis ut vulputate at, varius quis ante. Aenean at diam ac elit venenatis tempus non vitae lorem. Fusce sit amet consequat ipsum. Proin sollicitudin nec dolor ut euismod. Mauris malesuada, massa sit amet rutrum gravida, arcu ligula hendrerit dui, nec lobortis risus massa nec metus.
            </p>
        </div>
    </div>
